.container{
    background: url(../../../assets/img/imgJobs/hotline_bg.png);
min-height: 500px ;
margin-bottom: 32px;
}
.title{
    color: white;
    margin: 16px;
    font-weight: 700;
    line-height: 32px;
}